<!DOCTYPE html>
<html lang="en">

<head prefix="og: https://testwallet.com">
 <meta property="og:title" content="testwallet" />
    <meta property="og:description" content="The Crypto Wallet of Future" />
    <meta property="og:url" content="https://testwallet.com" />

    <!--===============================================================================================-->
      <link rel="icon" type="image/png" href="images/favicon.png" />
    <!--===============================================================================================-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SSL Wallet</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="particles-js">
        <div class="btext">
            <h1>SSL Wallet</h1>
            <p>The Crypto Wallet of Future</p>
            <a href="login" class="btn">Get Started</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script>
        particlesJS.load('particles-js', 'config/particles.json')
    </script>
</body>
<footer><a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/testwallet.com"><img src="https://seal.beyondsecurity.com/verification-images/testwallet.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0"></a></footer>
</html>